*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#18001f;
color:white;
padding:12px;
}

.header{
margin-bottom:20px;
}

.header h1{
font-size:36px;
font-weight:bold;
margin-top:10px;
}

.update{
font-size:20px;
color:#ffcc00;
}

.search-box{
margin-bottom:20px;
}

.search-box input{
width:100%;
padding:15px;
border-radius:12px;
border:2px solid #ff00ff;
background:#240030;
color:white;
font-size:16px;
outline:none;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
}

.card{
background:black;
border:3px solid #ff00ff;
border-radius:12px;
overflow:hidden;
position:relative;
}

.label{
position:absolute;
top:0;
left:0;
padding:6px 12px;
font-size:13px;
font-weight:bold;
color:white;
border-radius:0 0 10px 0;
background:#00cc00;
z-index:5;
}

.hot{
background:red;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
border-bottom:2px solid #ff00ff;
}

.content{
padding:15px;
}

.game-name{
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}

.pola-title{
font-size:18px;
margin-bottom:15px;
}

.line{
height:1px;
background:#333;
margin-bottom:15px;
}

.pola-item{
display:flex;
justify-content:space-between;
margin-bottom:10px;
font-size:16px;
}

.green{
color:#00ff99;
font-weight:bold;
}

.red{
color:#ff4444;
font-weight:bold;
}

.jam{
margin-top:15px;
margin-bottom:15px;
font-size:17px;
}

.bar{
width:100%;
height:24px;
background:#ddd;
border-radius:10px;
overflow:hidden;
}

.fill{
height:100%;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
color:black;
background:linear-gradient(
90deg,
#00c853,
#4caf50
);
}

.loading{
text-align:center;
padding:50px;
font-size:20px;
color:#ff00ff;
}